<h4>Загрузка адресов</h4>
<br />
<%= form_with url: import_addresses_path, method: :post do |form| %>
   <div>
    <label>Выбор склада</label>
    <%= form.select :warehouse_id, options_from_collection_for_select(@warehouses, :id, :name), { prompt: 'Выберите склад' } %>
  </div>
  <%= form.file_field :file, accept: ".csv" %>
  <%= form.button "Загрузить" %>
<% end %>