<h4>Новый адрес</h4>
<br />
<%= form_with model: @address, local: true do |form| %>
  <div class="field">
    <p>
      <%= form.text_field :name, placeholder: "Введите название адреса" %>
    </p>
  </div>

  <%= form.hidden_field :warehouse_id%>
  
  <div class="actions">
    <p>
      <%= form.submit "Создать адрес" %>
    </p>
  </div>
<% end %>