<h4>Размещение в адресную ячейку</h4>
<br />
<%= form_with model: @item, url: put_item_on_address_item_path(@item), method: :patch do |form| %>
  <div class="field">
    <p>
      <%= form.collection_select :address_id, @addresses, :id, :name, prompt: "Выберите адрес" %>
    </p>  
  </div>
  
  <div class="actions">
    <p>
      <%= form.submit "Разместить" %>
    </p>  
  </div>
<% end %>