<h4>Остатки товаров на складах</h4>
<br />
<table class="table">
  <thead>
    <tr>
      <th>Номер</th>
      <th>Наименование</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.number %></td>
        <td><%= item.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>