<h4>Все товары</h4>
<br />
<table class="table">
  <thead>
    <tr>
      <th>Номер</th>
      <th>Наименование</th>
      <th>Склад</th>
      <th>Адрес</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.number %></td>
        <td><%= item.description %></td>
        <td><%= item.address.present? ? item.address.warehouse.try(:name) : '' %></td>
        <td><%= item.address.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>