<h4>Новый товар</h4>
<br />
<%= form_with model: @item, url: items_path, method: :post, local: true do |form| %>
  <div class="field">
    <p>
      <%= form.text_field :number, placeholder: "Введите номер товара" %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.text_field :description, placeholder: "Введите наименование товара" %>
    </p>
  </div>
  
  <div class="actions">
    <p>
      <%= form.submit "Создать товар" %>
    </p>
  </div>
<% end %>