<h4>Информация "<%= @warehouse.name %>"</h4>
<br />
<p>
  <%= link_to 'Адреса', addresses_warehouse_path, method: :get %>
</p>

<p>
  <%= link_to 'Добавить адрес', new_address_path(warehouse_id: @warehouse.id), method: :get %>
</p>  