<h4>Новый склад</h4>
<br />
<%= form_with model: @warehouse, local: true do |form| %>
  <div class="field">
    <p>
      <%= form.text_field :name, placeholder: "Введите название склада" %>
    </p>
  </div>
  <div class="actions">
    <p>
      <%= form.submit "Создать склад" %>
    </p>
  </div>
<% end %>